body {
    font-family: Arial;
    margin: 0;
}
.header {
    padding: 20px;
    text-align: left;
    background: #0F0D0E;
    color: white;
    font-size: 20px;
}

.borrowDvdLayout{
    display: table;
    border-collapse: separate;
    border-spacing: 15px;
    margin-left: 50px;
    margin-top: 25px;
}

.borrowDvdLayout input[type=text] {
    display: table-cell;
}

.borrowDvdLayout label{
    display: table-cell;
}

#row {
    display: table-row;
    border-spacing: 5px 1rem;
}

#add {
    width: 7em;
    height: 2em;

    background-color:#2E86C1;
}

#submit {
    width: 20em;
    height: 2em;
    margin-left: 80px;
    background-color:#2E86C1;
}